{% for block in section.blocks %}
  <div {{ block.shopify_attributes }}>
    <div class="robin-pro" id="{{ block.settings.gallery_id }}"></div>
  </div>
{% endfor %}


{% schema %}
  {
    "name": "Robin PRO Image Gallery",
    "blocks": [
      {
        "type": "gallery",
        "name": "Gallery",
        "settings": [
          {
            "label": "Gallery",
            "type": "select",
            "id": "gallery_id",
            "options": [
{
  "value": "e263e169-eff2-4623-ac01-0c5da4ae8b07",
  "label": "onelive"
}
            ]
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Robin PRO Image Gallery",
        "category": "Robin PRO Image Gallery App",
        "settings": {}
      }
    ]
  }
{% endschema %}