{{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}

<!-- DO NOT REMOVE: Needed for fan sub login form -->
<script type="text/javascript">
  function resetToggle() {
    const login = document.getElementById('form-login');
    login.classList.toggle('hidden');
    const reset = document.getElementById('form-recover');
    reset.classList.toggle('hidden');
  }
</script>

<!-- Loading -->
<section
  class="single-gate-loading"
  style="display: flex; align-items: center; justify-content: center; aspect-ratio: 16 / 9; max-height: 75vh; width: 100%;"
  hidden
>
  <single-spinner></single-spinner>
</section>
