<!-- Anonymous -->
<section class="single-gate-customer-login">
    <a href="/apps/single/v1/external/gated-content/login">
        <input type="button" class="single-customer-login-button btn button" style="margin: 0;" value="{{ 'single.customer.login' | t }}" />
    </a>
</section>

{% schema %}
{
  "locales": {
    "en": {
      "single": {
        "customer": {
          "login": "Log In"
        }
      }
    }
  }
}
{% endschema %}