 
  body{
    background-image: url('//cdn.shopify.com/s/files/1/0581/0159/6351/files/download_3.jpg?v=1629745581');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% auto;
    background-attachment: fixed;
  }

  



