
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-

  HEADER
_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

/* 
keep but move to core css
*/

.announcement-bar{
  border: 0;
}


h2.title {
  margin: 0 auto!important;
  text-transform: uppercase;
}
#ContactFooter .newsletter-form__field-wrapper {
  width: 70%;
  float: left;
  display: inline-block;
}

.footer-block__newsletter .newsletter-form__button.button {
  padding: 0;
  color: #fff;
  box-shadow: none;
  display: inline-block;
  width: auto;
  max-width: auto;
  float: right;
}
.article-template {
      max-width: 130rem;
    margin: 0 auto;
}
.dITnff.dITnff, 
.bfAJHs.bfAJHs,
.itrmhl.itrmhl {
  padding-left:0!important;
}
#shopify-section-header .link--text {
  text-decoration: none;
}
#shopify-section-header svg {
  margin-right:10px;
}
.header__menu-wrapper {
  right: 10px;
  top: 5px;

}
.header__menu-wrapper:first-child .header__icon--menu  {
  left: 25px;
  top:25px;
  right:unset;
  position: absolute;
}
.header__search {
  position: relative;
  top:15px;
}
.header__icon, .header__icon--cart .icon {
 width:auto;
 height:auto;
} 
.header__icon span {
  height: auto;
}

.header__icon--search span {
  float: left;
}
.header__icon .icon {
  height: 2rem;
  width: 2rem;
  fill: none;
  vertical-align: middle;
}
.icon-search span {
    display: inline-block;
}
.header__icon--cart {
  float: left;

}
.header__icon--cart .icon-cart{
  height: 4rem;
  width: 4rem;
}
.icon.icon-cart-empty {
  display: none!important;
}
.header__icon--search span:first-child {
  position: relative;
  top:-10px;
}
.list-menu li {
  margin:0 10px;
}
.header__menu-wrapper:last-child {
  right: 0;
  position: absolute;
  left:unset;
}
.header__menu-wrapper:last-child .list-menu li:last-child {
  margin-left:0;
}
.header__icon--cart .icon-cart {
  margin-right:0!important;
}



/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-

Footer 
_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */
.footer {
  position: relative;
}
.footer .page-width{
  max-width:150rem;
}
.footer__blocks-wrapper {
  position: relative;
  z-index: 5;
}
.footer-block-image img {
  width:100%;
}
.footer-block-image>img {
  width:90%;
}
.footer-block.column-1,
.footer-block.column-3 {
  width:20%;
}
.footer-block.column-2 { 
  width:60%;
}
.footer-block.column-3 .footer-block__heading  {
  margin-bottom:0;
  text-transform: uppercase;
  color:#f8f5f5;
  font-size:15px;
}
.footer-block.column-3 p {
  margin:0;
  font-size:14px;
}
.characters { 
  position: absolute;
}
.left-character-img {
  left:0;
  bottom:0;
}
.right-character-img {
  right:0;
  bottom:0;
}

.list-social__item {
  margin:0 60px;
}
.footer__copyright small,
.footer__copyright p {
  display: inline-block;
  color:#f8f5f5;
  text-transform: uppercase;
}
.footer__copyright p a {
  color:#f8f5f5;
  font-size: 13.3333px;
  margin:0 5px;
  text-decoration: none;
}
.footer__copyright p span:last-child {
  display:none;
}
.newsletter-form-wrapper {
  position: relative;
}
.newsletter-arrow {
  position: absolute;
  z-index: 10;
  width: 10px;
  right: 20px;
  top: 34px;
}



.fhmQhu.fhmQhu.fhmQhu.fhmQhu.fhmQhu.fhmQhu {
  background-color: transparent!important;
  border:1px solid #fff!important;
  position: relative;
}

.fhmQhu.fhmQhu.fhmQhu.fhmQhu.fhmQhu.fhmQhu:hover {
  border-color:#fff!important;
}
.iRlXmm.iRlXmm {
  display:none!important;
}
@media screen and (max-width: 992px) {
  .footer-block.column-1,
  .footer-block.column-2,
  .footer-block.column-3 {
    width:100%;
  }
  .footer-block-image>img {
    width:70%;
  }
  .list-social__item {
    margin:0 10px;
  }

}
@media screen and (max-width: 1250px) {
  .footer-block.column-1,
  .footer-block.column-2,
  .footer-block.column-3 {
    width:100%;
  }
  .characters { 
    display:none;
  }
}
@media screen and (max-width: 992px) {
  #shopify-section-header header.header--align nav.header__menu-wrapper {
    width:auto!important;
    display: inline-block!important;
  }
  .header__icon--menu {
    left:20px;
    position: absolute!important;
    right:unset;
  }
  .header-wrapper {
    min-height:100px;
    padding-bottom:0!important;
  }
  .header__menu-wrapper:first-child .header__icon--menu {
    top:10px;
  }
  .header__logo-wrapper {
    width:100%!important;
  }
  .header__menu-wrapper:first-child {
    left:0;
    right:unset;
  }
  .header__menu-wrapper {
    position: absolute;
    bottom:20px;
    top:unset;
  }


  #shopify-section-header svg {
    margin-right:0;
  }
  .header__icon--cart span,
  .header__icon--account span,
  .header__icon--search span:last-child {
    display:none;
  }
  .icon.icon-cart {
    position: relative;
    bottom:-2px;
  }
}
@media screen and (min-width: 990px){
  .collage-section .collage {
    grid-template-columns: minmax(auto, 100%) minmax(40rem, 36rem);
    /*grid-template-columns: minmax(auto, 93rem) minmax(40rem, 36rem);*/
  }


#shopify-section-header #menu-drawer .list-menu > li {
  display: block!important;
  
}
#shopify-section-header .menu-drawer__utility-links{
  text-align: left;
}
#shopify-section-header header.header--align{
  text-align: center;

}
/*#shopify-section-header header.header--align > nav:nth-child(1){
  left: 0;
}*/
#shopify-section-header header.header--align nav.header__menu-wrapper{
  width: auto!important;

}
#shopify-section-header header.header--align nav.header__menu-wrapper:last-child {
  position: absolute;
  right: 0;
}
#shopify-section-header header.header--align div.header__logo-wrapper{
  width: calc(100% - 150px)!important;
}

  

