
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-

  HEADER
_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

/* 
keep but move to core css
*/

.announcement-bar{
  border: 0;
}


h2.title {
  margin: 0 auto!important;
  text-transform: uppercase;
}
#ContactFooter .newsletter-form__field-wrapper {
  width: 70%;
  float: left;
  display: inline-block;
}

.footer-block__newsletter .newsletter-form__button.button {
  padding: 0;
  color: #fff;
  box-shadow: none;
  display: inline-block;
  width: auto;
  max-width: auto;
  float: right;
}
.article-template {
      max-width: 130rem;
    margin: 0 auto;
}
.dITnff.dITnff, 
.bfAJHs.bfAJHs,
.itrmhl.itrmhl {
  padding-left:0!important;
}
@media screen and (min-width: 990px){
  .collage-section .collage {
    grid-template-columns: minmax(auto, 100%) minmax(40rem, 36rem);
    /*grid-template-columns: minmax(auto, 93rem) minmax(40rem, 36rem);*/
  }


#shopify-section-header #menu-drawer .list-menu > li {
  display: block!important;
}
#shopify-section-header .menu-drawer__utility-links{
  text-align: left;
}
#shopify-section-header header.header--align{
  text-align: center;

}
/*#shopify-section-header header.header--align > nav:nth-child(1){
  left: 0;
}*/
#shopify-section-header header.header--align nav.header__menu-wrapper{
  width: auto!important;
  /*position: absolute;
  right: 0;*/
}
#shopify-section-header header.header--align div.header__logo-wrapper{
  width: calc(100% - 150px)!important;
}

  

