.template-collection .banner {
    background: none!important;
}

.slick-arrow{
  width: 30px!important;
  height: 40px!important;
}
.slick-arrow:hover{
  opacity: 0.8;
}

/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-

  HEADER
_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

.announcement-bar{
  border: 0;
}

h2.title {
  margin: 0 auto!important;
  text-transform: uppercase;
}
#ContactFooter .newsletter-form__field-wrapper {
  width: 70%;
  float: left;
  display: inline-block;
}

.footer-block__newsletter .newsletter-form__button.button {
  padding: 0;
  color: #fff;
  box-shadow: none;
  display: inline-block;
  width: auto;
  max-width: auto;
  float: right;
}
.article-template {
      max-width: 130rem;
    margin: 0 auto;
}
.dITnff.dITnff, 
.bfAJHs.bfAJHs,
.itrmhl.itrmhl {
  padding-left:0!important;
}
#shopify-section-header .link--text {
  text-decoration: none;
}
#shopify-section-header svg {
  margin-right:10px;
}
.header__menu-wrapper {
  right: 10px;
  top: 5px;

}
.header__menu-wrapper:first-child .header__icon--menu  {
  left: 25px;
  top:25px;
  right:unset;
  position: absolute;
}
.header__search {
  position: relative;
  top:15px;
}
.header__icon, .header__icon--cart .icon {
 width:auto;
 height:auto;
} 
.search-modal {

  border:none;
}
.search-modal.modal__content {
  border:none;
  background-color: transparent;
}
.search-modal__content {
  position: relative;
  top:10px;
}
.search-modal .field__label{
  display:none;
}
.search-modal .field {
  min-width:200px;
  position: absolute;
  background-color: #000;
}
.search-modal__content .modal__close-button {
  position: absolute;
  left: 10px;
  top: 10px;
}
.header__icon span {
  height: auto;
}

.header__icon--search span {
  float: left;
}
.header__icon .icon {
  height: 2rem;
  width: 2rem;
  fill: none;
  vertical-align: middle;
}
.icon-search span {
    display: inline-block;
}
.header__icon--cart {
  float: left;

}
.header__icon--cart .icon-cart,
.header__icon--cart .icon-cart-empty{
  height: 4rem;
  width: 4rem;

}
.header__icon--cart .icon-cart-empty {
  margin-right:0!important;
}

.header__icon--search span:first-child {
  position: relative;
  top:-10px;
}
.list-menu li {
  margin:0 10px;
}
.header__menu-wrapper:last-child {
  right: 0;
  position: absolute;
  left:unset;
}
.header__menu-wrapper:last-child .list-menu li:last-child {
  margin-left:0;
}
.header__icon--cart .icon-cart {
  margin-right:0!important;
}

/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-

  HOMEPAGE / INDEX 
_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

.template-index #MainContent > .shopify-section .item > img,
.template-index #MainContent > .shopify-section > .banner-wrapper-carousel,
.template-index #MainContent > .shopify-section .banner-container img{
  box-shadow: 0px 5px 5px -3px #000000;
}

/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-

  COLLECTION
_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

.template-page-store #MainContent{
  text-align: center;
}
.template-page-store #MainContent .banner{
  min-height: auto;
  display: inline-block;
}
.template-page-store #MainContent .banner .banner__media.media{
  position: relative;
  height: auto;
}
.template-page-store #MainContent .banner .banner__media.media > img{
  height: auto;
  position: relative;
}
.template-page-store #MainContent .banner .banner__content{
  padding: 0;
}

/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-

  ACCOUNT LOGIN PAGE
_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

.template-customers\/login .custom_login-header-wrapper{
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-

Footer 
_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

.footer {
  position: relative;
}
.footer .page-width{
  max-width:150rem;
}
.footer__blocks-wrapper {
  position: relative;
  z-index: 5;
}
.footer-block-image img {
  width:100%;
}
.footer-block-image>img {
  width:90%;
}
.footer-block.column-1,
.footer-block.column-3 {
  width:20%;
}
.footer-block.column-2 { 
  width:60%;
}
.footer-block.column-3 .footer-block__heading  {
  margin-bottom:0;
  text-transform: uppercase;
  color:#f8f5f5;
  font-size:15px;
}
.footer-block.column-3 p {
  margin:0;
  font-size:14px;
}
.characters { 
  position: absolute;
}
.left-character-img {
  left:0;
  bottom:0;
}
.right-character-img {
  right:0;
  bottom:0;
}

.list-social__item {
  margin:0 60px;
}
.footer__copyright small,
.footer__copyright p {
  display: inline-block;
  color:#f8f5f5;
  text-transform: uppercase;
}
.footer__copyright p a {
  color:#f8f5f5;
  font-size: 13.3333px;
  margin:0 5px;
  text-decoration: none;
}
.footer__copyright p span:last-child {
  display:none;
}
.newsletter-form-wrapper {
  position: relative;
}
.newsletter-arrow {
  position: absolute;
  z-index: 10;
  width: 10px;
  right: 20px;
  top: 34px;
}
.footer-block.column-3 .footer-block__heading {
  padding-bottom:0;
}
.kBnHZf.kBnHZf {
padding-left:0!important;
}

.jBorcH.jBorcH.jBorcH.jBorcH.jBorcH.jBorcH {
  background-color: transparent!important;
  border:1px solid #fff!important;
  position: relative;
}

.jBorcH.jBorcH.jBorcH.jBorcH.jBorcH.jBorcH:hover {
  border-color:#fff!important;
}
.iRlXmm.iRlXmm {
  display:none!important;
}
@media screen and (max-width: 1250px) {
  .footer-block-image>img {
    width:90%;
  }
  .footer-block.column-1,
  .footer-block.column-3 {
    width:20%;
  }
  .footer-block.column-3 p {
    margin:0;
    font-size:12px;
  }
  .characters { 
    display:none;
  }
}

@media screen and (max-width: 992px) {
.search-modal.modal__content {
    position: absolute;
    left:unset;
    right: 50px;
}
  .footer-block.column-1,
  .footer-block.column-2,
  .footer-block.column-3 {
    width:100%;
    text-align: center;
  }
  .footer-block.column-2 .footer-block-image {
 
  }
  .footer-block-image>img {
    width:50%;

  }
  .list-social__item {
    margin:0 10px;
  }
  .newsletter-form {
    margin:0 auto!important;
  }
  #shopify-section-header header.header--align nav.header__menu-wrapper {
    width:auto!important;
    display: inline-block!important;
  }
  .header__icon--menu {
    left:20px;
    position: absolute!important;
    right:unset;
  }
  .header-wrapper {
    min-height:100px;
    padding-bottom:0!important;
  }
  .header__menu-wrapper:first-child .header__icon--menu {
    top:10px;
  }
  .header__logo-wrapper {
    width:100%!important;
  }
  .header__menu-wrapper:first-child {
    left:0;
    right:unset;
  }
  .header__menu-wrapper {
    position: absolute;
    bottom:20px;
    top:unset;
  }


  #shopify-section-header svg {
    margin-right:0;
  }
  .header__icon--cart span,
  .header__icon--account span,
  .header__icon--search span:last-child {
    display:none;
  }
  .cart-count-bubble span {
    display: block;
  }
  .icon.icon-cart {
    position: relative;
    bottom:-2px;
  }
  main#MainContent {
      margin-top: 0 !important;
  }  
}
@media screen and (max-width: 375px) { 
  .footer-block-image>img {
    width:90%;

  }
  .footer-block.column-2  .footer-block-image {
    text-align: center;
  }
}


@media screen and (min-width: 990px){
  .collage-section .collage {
    grid-template-columns: minmax(auto, 100%) minmax(40rem, 36rem);
    /*grid-template-columns: minmax(auto, 93rem) minmax(40rem, 36rem);*/
  }
}

#shopify-section-header #menu-drawer .list-menu > li {
  display: block!important;
  
}
#shopify-section-header .menu-drawer__utility-links{
  text-align: left;
}
#shopify-section-header header.header--align{
  text-align: center;

}
/*#shopify-section-header header.header--align > nav:nth-child(1){
  left: 0;
}*/
#shopify-section-header header.header--align nav.header__menu-wrapper{
  width: auto!important;

}
#shopify-section-header header.header--align nav.header__menu-wrapper:last-child {
  position: absolute;
  right: 0;
}
#shopify-section-header header.header--align div.header__logo-wrapper{
  width: calc(100% - 150px)!important;
}

.page-width {
  padding: 0;
}  
.add-pad {
    padding: 0 5rem;
}

body:not(.template-index) footer.color-background-1 {
    background: #000000c7;
}

.template-index h1.header__heading {
    padding-bottom: 15px;
}
.template-index .header-wrapper.header-transparent {
    background: #000000e0 !important;
}




@media screen and (min-width: 992px) {
  body:not(.template-index) main#MainContent{
    padding-bottom: 20px;
  }
  footer.footer .footer-block__details-content.footer-block-image.center{
    margin-top: -110px;
  }
}

/* Upsell Modal */

.single-modal-content {
    background-color: black !important;
}

h3.single-modal-parent-title {
    margin: 0 !important;
    padding: 0;
    font-size: 1.5em;
  text-transform: uppercase;
}

h3.single-upsell-title {
    font-size: 1.25em;
    margin: 0;
    padding: 0;
}

span.single-upsell-price {
    color: #ccc;
}

.single-modal-item {
    border-color: #333 !important;
}

.single-modal-footer {
    background-color: #1f1f1f !important;
}

.single-modal-parent-item {
    border-color: #333 !important;
    background-color: #111;
}

.single-modal-parent-image {
    border-color: #333 !important;
    background-color: #000;
}

h2.single-modal-title {
    display: none;
}

span.material-icons-round {
    color: #999;
}

.single-modal-header {
    padding: 2em !important;
}

.single-modal-close-button {
    position: absolute;
    right: 1em;
    top: 1em;
}

p.announcement-bar__message.h5 {
    text-transform: uppercase;
    font-size: 16px;
}