.video-collection-title {
  padding-left: 5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.video-collection-description {
  padding-left: 5rem;
  margin: 0;
}

.single-video-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.single-video-title,
.single-video-description {
  margin-top: 1rem;
  margin-bottom: 0;
}

.single-card-row {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.single-video-slider {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
  width: 100%;
  padding: 1em 0;
}

.single-video-slider::-webkit-scrollbar {
  display: none;
}

.single-card-video {
  flex: 0 0 auto;
  margin-right: 1rem;
  cursor: pointer;
  position: relative;
}

.single-video-slider .single-card-video {
  margin-right: 2rem;
}

.single-video-badge {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 75%;
  font-weight: 600;
  letter-spacing: 0;
  padding: 0.5em;
  background-color: white;
  border-bottom-left-radius: 8px;
  display: flex;
  align-items: center;
  gap: 0.25em;
  line-height: 1;
}

.video-slider .single-card-video:first-of-type {
  margin-left: 3em;
}

.video-slider .single-card-video:last-of-type {
  margin-right: 3em;
}

@media screen and (max-width: 768px) {
  .video-slider .single-card-video:first-of-type {
    margin-left: 1em;
  }

  .video-slider .single-card-video:last-of-type {
    margin-right: 1em;
  }
}

.single-card-video .single-card-image-wide {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  background-size: contain;
}

.single-card-video:hover .single-card-image-wide {
  transform: scale(1.025);
  transition: all linear 0.1s;
}

.single-card-row .single-chevron {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: calc(4% - 16px);
  z-index: 1;
  position: absolute;
  top: 1em;
  bottom: 0;
  opacity: 0;
  z-index: 20;
  transition: opacity 0.3s ease-in-out;
}

.single-card-row:hover .single-chevron {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .single-chevron {
    display: none !important;
  }
}

.left {
  left: 1rem;
}

.right {
  right: 1rem;
}

/* Modal */

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: auto;
  box-sizing: border-box;
  overflow: hidden;
}

.modal-content iframe {
  aspect-ratio: 16 / 9;
  border-radius: 10px;
  width: 75%;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  z-index: 1;
}

.pager {
  display: flex;
  justify-content: flex-end;
  padding-top: 1rem;
}

.paging-btn {
  cursor: pointer;
  z-index: 1000;
  background: transparent;
  border: none;
}

.paging-btn.prev {
  margin-right: 1rem;
}

/* Grid fixes */
.video-grid .single-card-video {
  width: 100% !important;
  margin: 0;
  padding: 0;
}

.video-grid .single-grid-item {
  margin: 1.5em auto;
  width: 100%;
  max-width: none;
  padding: 0 calc(5rem - 1rem);
}

.video-grid .single-col {
  padding: 0.5em !important;
}

.video-grid .single-card-video .single-card-image-wide {
  box-shadow: 0 1px 1px #00000014, 0 2px 2px #00000014, 0 4px 4px #00000014, 0 8px 8px #00000014, 0 16px 16px #00000014;
}

/*Tablet*/
@media screen and (max-width: 1400px) {
  .single-card-video {
    width: 27.5% !important;
  }
}

@media screen and (max-width: 990px) {
  .video-grid .single-col {
    width: 50% !important;
  }
}

/* Mobile */
@media screen and (max-width: 750px) {
  .single-card-row {
    padding-left: 1.5rem;
  }

  .video-collection-title,
  .video-collection-description {
    margin-left: 1.5rem;
    padding: 0;
  }

  .single-card-video {
    width: 70% !important;
  }

  .video-grid .single-grid-item {
    flex-direction: row;
    padding: 0 1rem;
  }
}
