.video-collection-title {
  padding-left: 5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.video-collection-description {
  padding-left: 5rem;
  margin: 0;
}

.single-video-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.single-video-title,
.single-video-description {
  margin-top: 1rem;
  margin-bottom: 0;
}

.single-card-row {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.single-video-slider {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
  width: 100%;
}

.single-video-slider::-webkit-scrollbar {
  display: none;
}

.single-card-video {
  flex: 0 0 auto;
  margin-right: 1rem;
  cursor: pointer;
  position: relative;
}

.single-video-badge {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 75%;
  font-weight: 600;
  letter-spacing: 0;
  padding: 0.5em;
  background-color: white;
  border-bottom-left-radius: 8px;
  display: flex;
  align-items: center;
  gap: 0.25em;
  line-height: 1;
}

.single-card-video:first-of-type {
  margin-left: 3em;
}

.single-card-video:last-of-type {
  margin-right: 3em;
}

@media screen and (max-width: 768px) {
  .single-card-video:first-of-type {
      margin-left: 1em;
    }
  
    .single-card-video:last-of-type {
      margin-right: 1em;
    }
}

.single-card-video .single-card-image-wide {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  background-size: contain;
}

.single-card-row .single-chevron {
  display: flex;
  cursor: pointer;
  position: absolute;
  width: calc(4% - 16px);
  z-index: 1;
  top: 48%;
  bottom: 0;
  line-height: 1;
  transform: translateY(-50%);
  opacity: 0;
  z-index: 20;
  transition: opacity 0.3s ease-in-out;
}

.single-card-row:hover .single-chevron {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .single-chevron {
    display: none !important;
  }
}

.left {
  left: 1rem;
}

.right {
  right: 1rem;
}

/* Modal */

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: auto;
  box-sizing: border-box;
  overflow: hidden;
}

.modal-content iframe {
  aspect-ratio: 16 / 9;
  border-radius: 10px;
  width: 75%;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  z-index: 1;
}

.pager {
  display: flex;
  justify-content: flex-end;
  padding-top: 1rem;
}

.paging-btn {
  cursor: pointer;
  z-index: 1000;
  background: transparent;
  border: none;
}

.paging-btn.prev {
  margin-right: 1rem;
}
