<script type="text/javascript">
  let params = (new URL(document.location)).searchParams;
  let content_id = params.get("content-id");
  let internal_id = params.get("internal-id");
  let content_type = params.get("content-type");
  let collection_id = params.get("collection-id");
  let page_type = params.get("page-type");
  let list_entry_redirect = params.get("list-entry-redirect");
  if (!!content_id) {
    if (!!list_entry_redirect) {
      window.SINGLE_CONTENT_KEY = "list?keyId=" + content_id;
    } else if (!!content_type) {
      window.SINGLE_CONTENT_KEY = content_id + "?contentType=" + content_type;
    } else if (!!internal_id) {
      window.SINGLE_CONTENT_KEY = content_id + "?internalId=" + internal_id;
    } else {
      window.SINGLE_CONTENT_KEY = content_id;
    }
  } else if (!!collection_id) {
    window.SINGLE_CONTENT_KEY = "list?keyId=" + collection_id;
  } else if (!!page_type) {
    window.SINGLE_CONTENT_KEY = page_type + "?" + params.toString();
  } else {
    window.SINGLE_CONTENT_KEY = "user-landing";
  }
</script>
<div class="single-gated-page">
  {% section 'single-gated-common' %}
  {% include 'single-customer-storage' %}
  <single-content-gating></single-content-gating>
</div>